
{% load static %}

<!DOCTYPE html>
<html>

<a href="/">Click here to add product</a>
    <style>
    table, th, td {
        border: 1px solid black;
        margin: 2px;
        align-items: center;
      }
    </style>  
    <table style="">
                <tr>
                    <th>Id.</th>
                    <th>customer</th>
                    <th>product Name</th>
                    <th>product price</th>
                    <th>Quantity</th>
                    <th>Total price</th>
                    <th>Operations</th>
                </tr>
            
                {% for stu in help %}
                <tr>
                    <td>{{ stu.id }}</td>
                    <td>{{ stu.customer_name }}</td>
                    <td>{{ stu.product_name }}</td>
                    <td>{{ stu.productprice }}</td>
                    <td>{{ stu.quantity }}</td>
                    <td>{{ stu.total_price }}</td>
                    <td><a href="/update/{{stu.id}}">INSERT</a>
                        <br><a href="/delete/{{stu.id}}">DELETE</a></td>
                </tr>
                {% endfor %}
    
            </table>
            

            
            
            </html>           