<html>


{% for messages in messages %}   
<div class="alert alert-primary" role="alert">
{{ messages }}
</div> 
{% endfor %}

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>

<a href="detail/">Show data</a>
    <title>Add order page</title>
    <div class="col-md-8 offset-md-2">
    <div class="add">
        <h1>Adding order</h1>
        <div class="container">
            <form method="POST">
            {% csrf_token %}

              
                <label for="customer_name">Select customer:</label>
                <select name="customer_name">
                {% for customs in custom  %}    
                <option value="{{ customs.first_name }}">{{ customs.first_name }}</option>  
                {% endfor %}
                </select>
                <br><br>
            
             
                <label>Select product:</label>
                <select name="product_name">
                {% for produc in produc  %} 
                <option value="{{ produc.product_name }}">{{ produc.product_name }}</option> 
                {% endfor %}
                </select>
                <br> 
                <br> 
                <label>price is:</label>
                <select name="productprice">
                   
                {% for produc in produc  %}
                    {% if product_name is product_price %} 
                        <option value="{{ produc.product_price}}">{{ produc.product_price }}</option>  
                    {% endif %}
                {% endfor %}   
                </select>
                <br> 
                <br> 
                <label> Quantity </label>         
                <input type="number" name="quantity"/> <br> <br>
        
                
                <label hidden></label>         
                <input type="number" name="total_price"/ hidden> 
                
                <input type="submit"> 
            <br><br>
            
            
        
    </form>
    </div>
    </div>
    </div>
</html>