<html>
    <form method="POST">{% csrf_token %}
        name <input type="text" name="customer_name" value="{{ orderty.customer_name }}">
        product_name <input type="text" name="product_name" value="{{ orderty.product_name }}">
        productprice <input type="text" name="productprice" value="{{ orderty.productprice }}">
        quantity <input type="text" name="quantity" value="{{ orderty.quantity }}">
        total_price <input type="text" name="total_price" value="{{ orderty.total_price}}">
        <input type="submit">
    </form>
</html>